<div class="mbr-section mbr-section-hero mbr-section-full" id="header1-1" data-bg-video="https://www.youtube.com/embed/Mgrr_SShwpg?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=1">

    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">League Rivals<br><br></h1>
                    <p class="mbr-section-lead lead">Défiez vos amis !<br>Affrontez-vous lors d'un combat !</p>
                </div>
            </div>
        </div>
    </div>

    

</div>
<div class="mbr-section" id="pricing-table1-e" style="background-color: white; padding-top: 40px; padding-bottom: 120px;">
<p style="margin-left:auto;margin-right: auto;width:700px;"> Pour une liste des champions, veuillez vous rendre <a target="_blank" href="http://gameinfo.euw.leagueoflegends.com/en/game-info/champions/" >ici</a> <br>Vous n'avez pas de compte ? <br> Utilisez Zeprionrails comme nom d'invocateur et choisissez vos champions préférés !<br><br><span style="color:#b30000;"> -Veuillez écrire votre pseudo sans espace: Zepri on Rails => Zeprionrails <br> -Utilisez les noms de champions en anglais (voir le lien au dessus)</span></p>

  <%= form_for :player, url: players_path do |f| %>
    <div class="mbr-section mbr-section-nopadding mbr-price-table">
      <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-desc"><%= f.label :p1, "Votre nom d'invocateur"  %>
                            <%= f.text_field :p1 %><br><br><%= f.label :c1, "Votre champion" %>
                            <%= f.text_field :c1 %><br></span><small class="mbr-price-term"></small>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-body card-block"><%= f.submit "Combattre" %>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-desc"><%= f.label :p2, "Son nom d'invocateur" %>
                <%= f.text_field :p2 %><br><br><%= f.label :c2, "Son champion" %>
                <%= f.text_field :c2 %><br></span><small class="mbr-price-term"></small>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
 <% end %>
</div>

<%= render 'footer' %>