<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v3.9.2, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  <title>League Rivals</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/stylesheets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/javascripts/tether/tether.min.css">
  <link rel="stylesheet" href="assets/stylesheets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/theme/css/style.css">
  <link rel="stylesheet" href="assets/css/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section class="mbr-section mbr-section-hero mbr-section-full" id="header1-1" data-bg-video="https://www.youtube.com/embed/Mgrr_SShwpg?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=1">

    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">League Rivals<br><br></h1>
                    <p class="mbr-section-lead lead">Défiez vos amis !<br>Affrontez-vous lors d'un combat !</p>
                </div>
            </div>
        </div>
    </div>

    

</section>
<section class="mbr-section" id="pricing-table1-e" style="background-color: rgb(124, 112, 107); padding-top: 40px; padding-bottom: 120px;">

    

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-xs-center">
                  
                  
              </div>
          </div>
      </div>
    </div>
  <%= form_for :player, url: players_path do |f| %>
    <div class="mbr-section mbr-section-nopadding mbr-price-table">
      <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      
                      <div class="card-title">
                        <h3 class="mbr-plan-title"></h3>
                        <small class="mbr-plan-subtitle"></small>
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value"></span>
                            <span class="mbr-price-desc"><%= f.label :p1, "Votre nom d'invocateur"  %>
                            <%= f.text_field :p1 %><br><br><%= f.label :c1, "Votre champion" %>
                            <%= f.text_field :c1 %><br></span><small class="mbr-price-term"></small>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-body card-block">
                      <div class="mbr-plan-list"></div>
                      <div class="mbr-plan-btn"><a href="https://mobirise.com" class="btn btn-white btn-white-outline"><%= f.submit "Combattre" %></a></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-6 col-xl-4">
                <div class="mbr-plan card text-xs-center">
                    <div class="mbr-plan-header card-block">
                      
                      <div class="card-title">
                      </div>
                      <div class="card-text">
                          <div class="mbr-price">
                            <span class="mbr-price-value"></span>
                            <span class="mbr-price-desc"><%= f.label :p2, "Son nom d'invocateur" %>
                <%= f.text_field :p2 %><br><br><%= f.label :c2, "Son champion" %>
                <%= f.text_field :c2 %><br></span><small class="mbr-price-term"></small>
                          </div>
                          <small class="mbr-plan-price-desc"></small>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
 <% end %>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">League Rivals isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.<br><br>League Rivals | <a href="https://github.com/Zepri/LeagueRivals" target="_blank" class="text-success">Github</a></p>
    </div>
</footer>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/javascripts/tether/tether.min.js"></script>
  <script src="assets/stylesheets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/javascripts/smooth-scroll/SmoothScroll.js"></script>
  <script src="assets/javascripts/jquery-mb-ytplayer/jquery.mb.YTPlayer.min.js"></script>
  <script src="assets/css/theme/js/script.js"></script>
  
  
</body>
</html>